<h1>Dr. <%= @doctor.name %></h1>

<p>Specialty: <%= @doctor.specialty %></p>
<p>MD from: <%= @doctor.university %></p>

<p>Works at <%= @doctor.hospital.name %></p>

<section id="patients">
  <h4><%= @doctor.name %>'s Patients:</h4>
    <% @patients.each do |patient| %>
      <%= patient.name %>
      <%= form_with url: doctor_path(@doctor.id), method: :delete, local: true do |form| %>
        <%= form.hidden_field :patient, value: patient.id %>
        <%= form.submit "Remove #{patient.name} from caseload"%>
      <% end %>
    <% end %>
</section>